*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100% ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede6d6;
}
.slide-container{
  position: relative;
  width: 800px;
  height: 450px;
  border: 3px solid #ede6d6 ;
  box-shadow:0 0 8px 2px rgba(0,0,0,0.2);
}
.slide-container .slides{
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.slide-container .slides img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.slide-container .slides img:not(.active){
  top: 0;
  left: -100%;
}
span.next,span.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}
/* Next Button set to Right side*/
span.next{
  right: 20px;
}
/* Prev Button set to Left side*/
span.prev{
  left: 20px;
}
span.next:hover, span.prev:hover{
  background-color: #ede6d6;
  /* Transparency of element*/
  opacity: 0.8;
  color: #222;
}
.dotsContainer{
  position: absolute;
  bottom: 5px;
   /* stack order element*/
  z-index: 3;
  left:50%;
  transform: translateX(-50%);
}
.dotsContainer .dot{
 width: 15px;
 height: 15px;
 margin: 0px 2px;
 border: 3px solid #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0,6s ease;
}
.dotsContainer .active{
  background-color:#555 ;
}
/*specifing  rule to the animation code for next button*/
@keyframes next1{
from{
  left: 0%;
}
to{
  left: -100% ;
}
}
@keyframes next2{
  from{
    left: 100%;
  }
  to{
    left:0% ;
  }
}
/*specifing Rule  to the animation code for prev button*/
@keyframes prev1{
  from{
    left: 0%;
  }
  to{
    left: 100% ;
  }
  }
  @keyframes prev2{
    from{
      left: -100%;
    }
    to{
      left:0% ;
    }
  }


img{
  height: 800px;
  width: 900px;
}